form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


